<section id="home" class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-card">
        <img
        src="../assets/profile_image.jpg"
          alt="RUVIMBO MAMBINGE"
          class="profile-image"
        />
        <h2>RUVIMBO MAMBINGE</h2>
        <p>SOFTWARE DEVELOPER</p>
        <div class="dotted-line"></div>
        <p class="bio">
          RUVIMBO MAMBINGE IS EAGER TO EXPLORE NEW HORIZONS AND EMBRACE NEW CHALLENGES
        </p>
        <a href="#contact" class="btn btn-primary"
          >Get In Touch <span class="arrow">→</span></a
        >
      </div>
      <div class="hero-content">
        <h1>SOFTWARE <span class="designer">DEVELOPER</span></h1>        <p>
           <i>“The most dangerous phrase in the language is, 'We've always done it this way.' ”</i>  - <b>Grace Hopper</b>
        </p>
 
        <div class="services">
          <a href="https://flowcv.com/resume/4spqb3ivdd" style="text-decoration: none; color: black;" target="_blank" class="card card-orange">
            <h3> 
                RESUME</h3>
            <span class="arrow">→</span>
            </a>
          <a href="https://dev.to/galwhocod3z" style="text-decoration: none" target="_blank" class="card card-green">
            <h3>BLOG POSTS</h3>
            <span class="arrow">→</span>
          </a>
        </div>
        <div class="what-i-do">
          <h2>About Me</h2>
          <p class="bio-description">
            I am a software developer who loves to explore new technologies and best practices to achieve tangible results.
            I have had the opportunity to share my knowledge through tech talks at conferences, meetups, and various events. 
            On my spare time I enjoy blogging, and delving into 
            machine learning model creation. I am all about learning, growing, and bringing innovation to life. Feel free to connect and explore possibilities together!
          </p>
          <h3>Skills</h3>
          <ul class="technology-list">
                <div class="skills">
                    <span class="skill-tag">HTML</span>
                    <span class="skill-tag">SCSS</span>
                    <span class="skill-tag">JavaScript</span>
                    <span class="skill-tag">TypeScript</span>
                    <span class="skill-tag">Angular</span>
                    <span class="skill-tag">React</span>

                  </div>
                <div class="skills">
                    <span class="skill-tag">Java</span>
                    <span class="skill-tag">Python</span>
                    <span class="skill-tag">PostgreSQL</span>
                    <span class="skill-tag">SQL</span>
                    <span class="skill-tag">Server</span>
                    <span class="skill-tag">MongoDB</span>

                  </div>
                <div class="skills">
                    <span class="skill-tag">Firebase</span>
                    <span class="skill-tag">NGINX</span>
                    <span class="skill-tag">IIS</span>
                    <span class="skill-tag">CPanel</span>
                    <span class="skill-tag">CI/CD</span>
                    <span class="skill-tag">Technical Writing</span>

                  </div>
          </ul>


        </div>
      </div>
    </div>
  </div>
</section>
